.infoPage {
  padding-top: 200px;
}

.content {
  text-align: left;
}

.description {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 4px;
  white-space: pre-line;
}

.email {
  font-size: 13px;
  font-weight: 700;
}

.email a {
  text-decoration: none;
}

.email a:hover {
  opacity: 0.6;
}
